body {
  font-size: 18px;
  font-family: $sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {

font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;

}
p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
.skills h3 {
  font-weight: 200;
  color: #84f9d8;
}
